  .navbar {
      background-color: #0099cc;
  }


  .footer {
    background-color: #0099cc;
}

.carousel-caption {
  top: 0;
  bottom: auto;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

    